body {
    color: #5a5a5a;
}

.navbar {
    background: rgba(0, 0, 0, 0.795) !important;
}

#navlogo {
    height: 30px;
}

.signup {
    text-decoration: none;
    color: white;
}

.signup:hover {
    color: white;
}

.carousel {
    margin-bottom: 4rem;
    text-shadow: black !important;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item h1 {
    font-weight: 600;
}

.one {
    color: rgb(110, 226, 57);
}

.two {
    color: tan;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 100vh;
}

.carousel-item>img {
    min-width: 100%;
    height: 100vh;
    background: fixed !important;
}

#wall {
    border: 2px solid white;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    transition: .3s;
}

#wall:hover {
    border: 2px solid white;
    background: rgba(90, 224, 85, 0.219);
}

#second {
    padding-bottom: 50px !important;
}

#aboutbtn {
    border: 2px solid white;
}

#aboutbtn:hover {
    background: rgba(221, 188, 96, 0.404);
}


/* Featurette */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #0b8a2b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.flogo {
    padding-bottom: 20px;
}

.about {
    width: 40%;
}

.about p {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.info ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.info ul li:hover {
    color: #ffffff;
    padding-left: 8px;
}


/* Copyright */

.copyright {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}


/* Responsive */

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}