body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(121, 67, 67, 0.4), rgba(0, 0, 0, 0.3)), url(book.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: inherit;
    background-attachment: fixed;
}
.navbar {
    background: rgba(0, 0, 0, 0.795) !important;
}

#navlogo {
    height: 30px;
}

.signup {
    text-decoration: none;
    color: white;
}

.signup:hover {
    color: white;
}
