body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(121, 67, 67, 0.4), rgba(0, 0, 0, 0.3)), url(book.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: inherit;
    background-attachment: fixed;
}
.navbar {
    background: rgba(0, 0, 0, 0.795) !important;
}

#navlogo {
    height: 30px;
}

.signup {
    text-decoration: none;
    color: white;
}

.signup:hover {
    color: white;
}

.cover-container {
    max-width: 200em;
}

.contact-info {
    color: white;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 20px;
}pre {
    font-family: Poppins;
}

.contact-form {
    max-width: 700px;
}

.contact-form h2 {
    color: #fff;
    text-align: left;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-info {
    text-align: left;
}

.contact-form .text-box {
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.7;
}

.contact-form .text-box:first-child {
    margin-right: 15px;
}

.contact-form textarea {
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.7;
}

.contact-form .send-btn {
    float: left;
    background: #83791e;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover {
    background: #ffc107;
}
/* Footer */
.foot {
    max-width: 1170px;
    margin: auto;
}
