body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(121, 67, 67, 0.4), rgba(0, 0, 0, 0.3)), url(book.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: inherit;
    background-attachment: fixed;
}

.navbar {
    background: rgba(0, 0, 0, 0.795) !important;
}

#navlogo {
    height: 30px;
}

.signup {
    text-decoration: none;
    color: white;
}

.signup:hover {
    color: white;
}

.cover-container {
    max-width: 200em;
}

.contact-info {
    color: white;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 20px;
}

#wall {
    border: 2px solid white;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    transition: .3s;
}

#wall:hover {
    border: 2px solid white;
    background: rgba(224, 187, 85, 0.39);
}

pre {
    font-family: Poppins;
}

.contact-form {
    max-width: 700px;
}

.contact-form h2 {
    color: #fff;
    text-align: left;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-info {
    text-align: left;
}

.contact-form .text-box {
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.7;
}

.contact-form .text-box:first-child {
    margin-right: 15px;
}

.contact-form textarea {
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.7;
}

.contact-form .send-btn {
    float: left;
    background: #83791e;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover {
    background: #ffc107;
}


/* Footer */

.foot {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #0b8a2b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.flogo {
    padding-bottom: 20px;
}

.about {
    width: 40%;
}

.about p {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.info ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.info ul li:hover {
    color: #ffffff;
    padding-left: 8px;
}

.cinfo {
    color: #999;
}


/* Copyright */

.copyright {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}


/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}