* {
    padding: 0;
    margin: 0;
}

.one {
    height: 100vh;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)), url(3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    width: 85%;
    padding: 35px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 240px;
    height: 90px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffc107;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.brand {
    font-family: ABeeZee;
    font-size: 18px;
    color: aquamarine;
    font-weight: bold;
    letter-spacing: 2px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    font-family: AbeeZee;
    letter-spacing: 2px;
}

.content p {
    font-weight: 100px;
    margin: 20px auto;
    font-family: AbeeZee;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 29px;
}

.Register {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #ffc107;
    color: white;
    cursor: pointer;
    background: none;
    background-size: 200%;
    background-position: left;
    transition: border 0.3s;
}

.Register:hover {
    border: 2px solid white;
    transition: background-color 0.3s;
    background-color: rgba(197, 179, 74, 0.205);
}

.two {
    border: 6px solid black;
    height: 84vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.493)), url(4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.description1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 3px;
    margin: 10px;
    padding-top: 40px;
    line-height: 37px;
    letter-spacing: 1.3px;
}

.description1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 8.8px;
}

.description1 button {
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
    margin-left: 200px;
    border: 2px solid white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    background: none;
    background-size: 200%;
    background-position: left;
    transition: border 0.3s;
}

.about:hover {
    border: 2px solid white;
    transition: background-color 0.3s;
    background-color: rgba(197, 179, 74, 0.205);
}

.leftside {
    left: 0;
    position: absolute;
    width: 50%;
    height: 84vh;
    overflow: hidden;
}

.leftside .tarea {
    width: 90%;
    height: 84vh;
    background: #0000007a;
    display: inline-block;
    margin-left: 10%;
    padding: 10px;
}

.rightside {
    right: 0%;
    position: absolute;
    width: 50%;
    height: 84vh;
    overflow: hidden;
}

.three {
    border: 6px solid black;
    height: 84vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.493)), url(6.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.rightside .logoimg {
    background: url('logo.png') center;
    background-size: cover;
    height: 35vh;
    width: 450px;
    margin-top: 20%;
    margin-left: 10%;
}

.leftside .logoimg {
    background: url('logo.png') center;
    background-size: cover;
    height: 35vh;
    width: 450px;
    margin-top: 20%;
    margin-left: 20%;
}

.rightside .tarea {
    padding: 10px;
    width: 90%;
    height: 84vh;
    display: inline-block;
    margin-right: 10%;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.493));
}

.rightside button {
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
    margin-left: 200px;
    margin-top: 60px;
    border: 2px solid white;
}

.rightside button:hover {
    background-color: rgba(255, 228, 196, 0.247);
}

.four {
    height: 70vh;
    border: 6px solid black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.493)), url(7.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.content3 {
    text-align: center;
    padding: 80px;
}

.content3 h1 {
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.content3 p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 35px;
    color: white;
    font-size: 20px;
}

.content3 button {
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
    margin-top: 30px;
    border: 2px solid white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    background: none;
    background-size: 200%;
    background-position: left;
}

button:hover {
    transition: background-color 0.3s;
    background-color: rgba(255, 228, 196, 0.247);
}

.five {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 30vh;
    flex-direction: column;
    background: #ede7f6;
    font-family: 'popins', sans-serif;
}

footer {
    position: relative;
    width: 1149px;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

footer .container .sec {
    margin-right: 30px;
    width: 40%;
}

footer h2 {
    position: relative;
    color: white;
    font-weight: 500px;
    margin-bottom: 15px;
}

footer h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ffc107;
}

footer p {
    color: #999;
}

.quicklinks {
    position: relative;
    width: 25%;
}

.quicklinks ul li {
    list-style: none;
}

.quicklinks ul li a {
    color: #999;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks ul li a:hover {
    color: white;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
    list-style: none;
}

.contact .info li span {
    color: #999;
}

.contact .info li span:nth-child(1) {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}