* {
    padding: 0;
    margin: 0;
}

.one {
    height: 100vh;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)), url(2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    width: 85%;
    padding: 35px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 170px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffc107;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.brand {
    font-family: ABeeZee;
    font-size: 18px;
    color: aquamarine;
    font-weight: bold;
}

.title {
    font-size: 50px;
    font-weight: bold;
    font-family: AbeeZee;
}

.content p {
    font-weight: 100px;
    margin: 20px auto;
    font-family: AbeeZee;
    font-size: 20px;
}

.Register {
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    border: 2px solid #ffc107;
    color: white;
    cursor: pointer;
    background: none;
    background-size: 200%;
    background-position: left;
    transition: border 0.3s;
}

.Register:hover {
    border: 2px solid white;
    transition: background-color 0.3s;
    background-color: rgba(127, 255, 212, 0.123);
}

.two {
    border: 6px solid black;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.493)), url(5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.tarea {
    width: 40%;
    height: 60vh;
    background: #0000008c;
    display: inline-block;
    margin-left: 100px;
}

.description1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    padding: 3px;
    margin: 10px;
    margin-top: 20px;
    padding-top: 40px;
}

.logoimg {
    height: 40vh;
    width: 450px;
    margin-left: 60%;
}