@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(loginpagebg2.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    font-family: sans-serif;
    background-attachment: fixed;
    background-repeat: inherit;   
}

/*Login form*/
#outer{
    padding-top: 65px;
}

.content{
    margin: 8%;
    background-color: transparent;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5) ;
}
.signin-text{
    font-style: normal;
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 600 !important;
    color: papayawhip;
    text-align: center;
}
.form-control{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: rgb(208, 255, 0) !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    margin-bottom: 10px;
    color: white;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    background-clip: padding-box;
}
.form-control:focus{
    color: palegoldenrod;
    background-color: transparent;
    border-color: white;
    outline: 0;
    box-shadow: none;
}
.btn-class{
    border-color: skyblue;
    color: skyblue;
}

.btn-class:hover{
    background-color: lightcyan;
}

.form-group{
    color: pink;
    font-family: sans-serif;

}

.form-group.form-check{
    margin-top: 20px;
    margin-bottom: 20px;
}




/**Navigation bar CSS*/
.navbar {
    background: rgba(0, 0, 0, 0.795) !important;
}

#navlogo {
    height: 30px;
}

.signup {
    text-decoration: none;
    color: white;
}

.signup:hover {
    color: white;
}



/*navigation bar*/
#navlogo {
    height: 25px;
    background-color: transparent;
}

.signup {
    text-decoration: none;
    color: white;
}

.signup:hover {
    color: white;
}



/*Footer*/
.f{
    font-family: sans-serif;
    max-width: 1165px;
    margin: auto;
    font-weight: 300;
    font-style: normal;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #0b8a2b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.flogo {
    padding-bottom: 20px;
}

.about {
    width: 40%;
}

.about p {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.info ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.info ul li:hover {
    color: #ffffff;
    padding-left: 8px;
}

.cinfo {
    color: #999;
}


/* Copyright */

.copyright {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
