*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(Nature-Minimalist-Wallpaper-3840x2160-00747.jpg);
    background-size: cover;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .navigation a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 00.3s;
    transition-property: background;
}
header .navigation a:not(:last-child)
{
    margin-right: 30px;
}
#loginForm{
    display: none;
}
.form-box{
    width: 380px;
    height: 500px;
}