<<<<<<< HEAD
*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;
}
.services-section
{
  background-image:url(idonationbox.jpg);
  background-size: cover;
  padding: 150px 0;
}
=======

>>>>>>> 98952dfec23bd0c775dd8f0a1eb05640990bffa1
