
*{
    margin:0;
    padding:0;
    font-family: mazzard H ExtraLight;
    box-sizing:border-box;

}
.services-section
{
  background-image:url(idonationbox.jpg);
  background-size: cover;
  padding: 150px 0;
}

